<ul>
  <li><span>Name - </span>  {{name}}</li>
  <li><span>Input Folder - </span>  {{inputFolder}}</li>
  <li><span>Input File - </span>  {{inputFileName}}</li>
  <li><span>Output File - </span>  {{outputFileName}}</li>
  <li><span>State - </span>  {{state}}</li>
  <li><span>Iso? - </span>  {{iso}}</li>
  <li><span>Progress - </span>  {{progress}}</li>
  <li><span>Added - </span>  {{created_at}}</li>
</ul>
