<ul class="job-list">
  {{#each job in content}}
    <li class="job">
      <span class="name">{{#link-to 'job.index' job}}{{job.name}}{{/link-to}}</span>
      <span {{bind-attr class=":job-state job.state"}}>{{job.state}}</span>
      <span class="job-progress">{{#if job.encoding}}<progress {{bind-attr value=job.progress}} max="100"></progress>{{/if}}</span>
      <span class="job-controls">
        <a {{action 'restartJob' job}} class="btn btn--xs">Restart</a>
        <a {{action 'stopJob' job}} class="btn btn--xs">Stop</a>
      </span>
    </li>
  {{else}}
    <li><h3>No encodes have been queued</h3></li>
  {{/each}}
</ul>
